/*****************************************************************************
  pokemon
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';





/*****************************************************************************
  Base Styles
******************************************************************************/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

img {
  max-width: 100%;
}


/*****************************************************************************
  Layout Styles
******************************************************************************/
.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;

  & > li {
    padding: 0.5em;
  }
}



/*****************************************************************************
  Module Styles
******************************************************************************/



